In [1]:
#dictionary:  are used to store data values in key value paris.

# They are unordered,mutable & no duplicate keys.
# Key should be unique.
# we can add different data type in dictionary(str,tuple,list,int,float,boolean)

#syntax :

dict = {
    "name" : "Mayank",
    "marks" : 99.9,
    "sub"  : ["hin","eng","math"]
}

print(dict) kro

{'name': 'Mayank', 'marks': 99.9, 'sub': ['hin', 'eng', 'math']}

In [3]:
# dictionary has no idexing so that is why it is unordered.
# We can access our data by keys:

print(dict["name"])  #accesing value from key.
print(dict["marks"])

Mayank
99.9

In [7]:
# Mutable : dictionary

dict["name"] = "yash"
dict

{'name': 'yash', 'marks': 99.9, 'sub': ['hin', 'eng', 'math']}

In [10]:
# empty dictionary

data = {} #empty dictionary

data["name"] = "mayank"
data[ "age"] = 26
data["job"] = "unemployed"
data

{'name': 'mayank', 'age': 26, 'job': 'unemployed'}

In [11]:
# Nested dictionary:

student = {
    "name" : "Mayank",
     "subject" :{
         "phy" : 99,
         "chem" : 88,
         "math" : 100
     }
}


student

{'name': 'Mayank', 'subject': {'phy': 99, 'chem': 88, 'math': 100}}

In [14]:
print(student["subject"]["phy"])

99

In [16]:
#Methods of dictionary:

# to fetch all the key:

print(student.keys()) 

# to fetch all the values:

print(student.values())

dict_keys(['name', 'subject'])
dict_values(['Mayank', {'phy': 99, 'chem': 88, 'math': 100}])

In [26]:
# to fetch the key value pairs

a = student.items()
print(a)


# .get method

print(student.get("namee")) #another way of getting value
# none is better than error 


#update method

student.update({"name":"yash","city" : "Delhi"})
student

dict_items([('name', 'yash'), ('subject', {'phy': 99, 'chem': 88, 'math': 100})])
None

{'name': 'yash',
 'subject': {'phy': 99, 'chem': 88, 'math': 100},
 'city': 'Delhi'}

# Set

In [28]:
# set is the collection of unordered items.
# Each element in set must be unique.
# set mutable but elements in set are immutable.


# we can store only immutable values in set (int,float,str,tuple,boolean)
# We cannot store list & dictionary in set.

set = {1,2,3,4}

print(set)
print(type(set))

{1, 2, 3, 4}
<class 'set'>

In [31]:
# set are unique & removes the duplicate values.

set = {1,2,3,4,1,2,3,4}

print(set)
# set[0] # idexing doesnt work here.that is why set are unordered.

{1, 2, 3, 4}

In [1]:
#  empty set 
set = set()
print(type(set))

<class 'set'>

In [2]:
#  length of set 

set = {1,2,3,4,1,2,3,4}

print(len(set))

4

In [9]:
# Methods of set

set.add("mayank") #it add elements  to set

set.remove("mayank") #it removes mayank name element

set.clear() #it removes all elements from set

set()

In [13]:
set = {1,2,3,4}

set.pop() #it removes values from start.
print(set)

4

In [16]:
set = {1,2,3,4}
set_2 = {3,4,5,6,7}

print(set.union(set_2)) # unique value

print(set.intersection(set_2)) #common value

{1, 2, 3, 4, 5, 6, 7}
{3, 4}