# List & Tuple

In [1]:
# list = A built in data type that stores sequence of values.

# it can store elements of different type (int,float,string etc..)




list = [99,79.9,0,True]
print(type(list))

<class 'list'>

In [4]:
#indexing in list
#indexing always starts from 0.


list = [99,88,77,66,55,44,33,22,11]

print(list[5]) #we have to fetch 44
print(list[8])

#length of list

print(len(list)) #len always starts from 1

44
11
9

In [17]:
#slicing : to get the sublist.
# slicing ending index doesn't include.
list = [99,88,77,66,55,44,33,22,11]


# we have to fetch 66 : 22

print(list[3:8])

# 66 to 11

print(list[3:])

# 99 to 66

print(list[:4])

# 99 to 11
print(list[:])
#stepping
print(list[::2])

#reversing the list 

print(list[::-1])

[66, 55, 44, 33, 22]
[66, 55, 44, 33, 22, 11]
[99, 88, 77, 66]
[99, 88, 77, 66, 55, 44, 33, 22, 11]
[99, 77, 55, 33, 11]
[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [23]:
#Negative indexing & slicing
# negative indexing always starts from -1.
list = [99,88,77,66,55,44,33,22,11]


print(list[-6])


#66 to 22 from negative slicing

print(list[-6:-1])

# 66 to 11

print(list[-6:])

#99 to 66

print(list[-9 : - 5])


#reverse
print(list[::-1])

66
[66, 55, 44, 33, 22]
[66, 55, 44, 33, 22, 11]
[99, 88, 77, 66]
[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [29]:

# list is Mutable 
# in list we can access the element & we can also change the element


student = ["karan",95.4,19,"Delhi"]

student[0]
student[1] = 99 #we are accessing the element & assigning new value

In [47]:
# methods of list : list specific methods

list = [40,45,33,22,11]

list.append(400) # adding at the end

list.sort() # it will sort list in ascending

list.sort(reverse = True) #it will sort list in descending

list.reverse() # it will reverse the list

list.insert(2,500) #insert the new value at given place

list.remove(500) #first occurence value removed only

list.pop() #it removes last element of list

[40, 45]

[40]

# Tuple

In [54]:
# tuple : it creates immutable sequence of values.

Tup = (2,1,3,4,5)

# tuples are immutable:

# Tup[0] = 200 this is not possible in tuble
# we can not assign values to tuple
# We can only access the element

Tup[0]
Tup[1]
Tup[2]

3

In [60]:
# Empty tuple

tup = () #this is an empty tuple

print(type(tup))


#single value tuple

tup = (99,) 
print(type(tup))

<class 'tuple'>
<class 'tuple'>

In [66]:
#tuples method:

tup = ("mayank",100,44.5,True,True)

print(tup.index(True)) # it will only fetch first accurance index.

print(tup.count(True)) #it will count all occurance of an element.

3
2

In [73]:
#Palindrome.

# palindrome are those things which are same if we read from start or end.

# ex: (2,1,2) (ma'am) (racecar)


# copy (2,1,2)
# reverse = if same as it is.

a = [2,1,2,3]
b = a.copy()   
b.reverse()

if(a == b):
    print("palindrome")
else:
    print("not palindrome")


    
# word = "madam"

# if(word == word[::-1]):
#     print("palindrome")
# else:
#     print("not palindrome")

palindrome

In [75]:
#practice questions

# 1. Write a program to ask the user to enter names of their 3 favorite movies 
# & store them in a list


a = input("Enter first movie name:")
b = input("Enter second movie name:")
c = input("Enter third movie name:")


list = [a,b,c]
list

Enter first movie name: Mahabharat
Enter second movie name: Ramayan
Enter third movie name: Marvel

['Mahabharat', 'Ramayan', 'Marvel']

In [76]:
#Practice question

#Write a program to count the number of students with the A grade
# in the following tuple..


tup = ("C","D","A","A","B","B","A")


print(tup.count("A"))

3

In [85]:
# store the above values in a list & sort them from A to D.


tup = ["C","D","A","A","B","B","A"]

tup.sort()
print(tup)

['A', 'A', 'A', 'B', 'B', 'C', 'D']